$purple: #7232dd;
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.van-tabs__nav--card .van-tab.van-tab--active {
  background-color: $purple !important;
  border-right-color: $purple !important;
}
.van-tabs__nav--card .van-tab {
  color: $purple !important;
  border-right-color: $purple !important;
}
.van-tabs__nav--card {
  border-color: $purple !important;
}
.van-nav-bar .van-icon {
  color: $purple !important;
}
.van-nav-bar__text,
.van-nav-bar__arrow {
  font-size: 1.5rem !important;
  color: $purple !important;
}
.van-swipe__indicator--active {
  background-color: $blue !important;
}
